@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

@media (max-width: 576px) {
    header .head-bg {
        background: #74d2e7;
        padding-bottom: 0 !important;
        padding-top: 6px !important;
    }
    header .head-bg .container .logo .p-text-online {
        position: absolute;
        top: 63px !important;
    }
    header .head-bg .container .row .content_m {
    margin-top: 0px !important;
}







}